
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="privacy about">
    <h3>About Us</h3>
    <p class="animi" style="color:black;">
            My Online Jewellery Shop is an expertise in the beautiful world of jewellery.
            We are passionate about offering the highest quality of service and our wealth of knowledge guarantees you and your precious jewellery will be exceptionally cared for.
            We specialise in the finest quality jewellery repairs, remodelling and custom designs, and offer a one-on-one, personalised design service with quality workmanship and attention to detail. 
            Experience a seamless and educational journey to creating the perfect engagement ring by remaining involved in the process from start to finish. 
            Our gemstone collection includes an exclusive range of loose diamonds available from all around the world, including GIA Certified, Australian Argyle and Antwerp Diamonds. 
            If you have something out of the ordinary in mind, we can source this for you.
            Enjoy shopping in style at our beautiful boutique store on the Gold Coast. Our extensive range of fine jewellery includes signature collections of yellow, white and rose gold, in addition to hand-picked precious gemstone and pearl pieces. 
            We also carry a select range of beautiful watches and exceptional sterling silver jewellery.
            Feel free to email us for some personal advice, it's what we do best. 
            We are available to help you source a specific piece of jewellery, loose diamond, or to guide you through the process of deciding exactly what is right for that special someone - maybe even yourself! You can email us on jewelleryshop@gmail.com
        <br />
        <b>ENJOY!</b>
</p>
    <div class="clearfix"> </div>
</div>

