
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:4rem">
    <img src="UserImages/11.png" alt=" " class="img-responsive" style="width: auto;transform: translateX(50rem);"/>
</div>

